html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #fafbfc;
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
}

.site-container {
    margin: auto;
    max-width: 1200px;
    width: 80%;
}

.masthead {
    background: #2e3d49;
    padding: 2em 0;
    width: 100%;
}

.masthead h1 {
    color: #ffffff;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.2em;
    text-align: center;
}

/*** Search Form ***/
#search-form {
    display: flex;
    padding: 1em 0;
    flex-wrap: wrap;
}

#search-keyword {
    border: none;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 1.5em;
    padding: 1.25em 2em;
}

#submit-btn {
    background-color: #15c26b;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 1em 4em;
    text-transform: uppercase;
    margin: 6px auto 0 auto;
}

#submit-btn:hover {
    background-color: #12a159;
}


/*** Response Container ***/
#response-container {
    margin-top: 2em;
}

/*** Image Styline ***/
figure {
    margin: 0;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

figure img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
}

figcaption {
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 14px;
    padding: 0.8em 1.4em;
    position: absolute;
    width: 100%;
}

/*** Error State Styling ***/
.error-no-image {
    background: url(../images/icon-no-image.png) no-repeat 50% top;
    margin-bottom: 3em;
    padding-top: 8em;
    text-align: center;
}


/*** Helpers ***/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}


/********** Footer ***************/
.footer {
    background-color: rgb(221, 211, 217);
    padding: 1em;
    margin: 0;
    text-align: center;
}

/********** customization of buttons and font awesome contact icons***************/
.contact {
    margin-left: auto;
    margin-right: auto;
}

.contact-logo-holder {
    text-align: center;
}

.contact-link {
    text-decoration: unset;
    padding: 5px;
}

.heart {
    color: #ec3e2e;
}

.github {
    color: #2e3c49;
}

.linkedin {
    color: #0077b5;
}

.twitter {
    color: #1da1f3;
}

.google {
    color: #dc4538;
}

.facebook {
    color: #3b5998;
}
